<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>SpazioPriceCalculator</title>
</head>

<body>
    {%csrf_token%}
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Components</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Sub Total</th>
                        <th>Warranty</th>
                        <th>Total with Warranty</th>
                        <th>COM</th>
                        <th>Total Amount with Insurance</th>
                        <th>Year 2</th>
                        <th>Year 3</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                    <tr>
                        
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Components}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.SubTotal}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Warranty}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}TotalwithWarranty" style="width: 95px;border:none" readonly="true" value="{{entry.TotalwithWarranty}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}COM" style="width: 55px;border:none" readonly="true" value="{{entry.COM}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}TotalAmountwithInsurance" style="width: 95px;border:none" readonly="true" value="{{entry.TotalAmountwithInsurance}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Year2" style="width: 55px;border:none" readonly="true" value="{{entry.Year2}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Year3" style="width: 95px;border:none" readonly="true" value="{{entry.Year3}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Total" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" disabled class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>

    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Desk_Booking_Solutions %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Desk_Utilization_Solutions %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Desk_Planning_Solutions %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Employee_One_Mobile_Apps %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Rosterings %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>

    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Wayfindings %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Feedbacks %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Kiosk_Licenses %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Meeting_Room_License_Occupancys %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Meeting_Room_License_People_Counts %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Meeting_Room_License_Bookings %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Restroom_License_People_Counts %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Restroom_License_Wet_floor_detections %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Restroom_License_Odour  %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>
    <div style="width:2000px;background-color: rgb(241, 241, 241);" class="shadow p-3 mb-5 rounded">

        <form class="my-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Packs/Slabs</th>
                        <th>Max Slab </th>
                        <th>Rate</th>
                        <th>Total Quantity</th>
                        <th>Volume</th>
                        <th>Rate Per Slab </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in Human_body_temperature_License %}
                    <tr>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.sr_no}}"
                                    type="number"></td>
                        <td><input style="width: 40px;border:none"  readonly="true" value="{{entry.Packs_Slabs}}"
                                    type="number"></td>
                        <td><input style="border:none" readonly="true" value="{{entry.Max_Slab}}"
                                    type="text"></td>
                        <td><input onchange="abcd(event)" class="{{entry.sr_no}}" id="{{entry.sr_no}}Quantity" style="width: 55px;border:none" value="{{entry.Rate}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Rate" style="width: 55px;border:none" readonly="true" value="{{entry.Total_Quantity}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}SubTotal" style="width: 95px;border:none" readonly="true" value="{{entry.Volume}}"
                                    type="number"></td>
                        <td><input  id="{{entry.sr_no}}Warranty" style="width: 55px;border:none" readonly="true" value="{{entry.Total}}"
                                    type="number"></td>
                        <td><button value="{{entry.sr_no}}" id="{{entry.sr_no}}" type="submit" class="btn btn-primary save">Save</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        var harddetails = JSON.parse(localStorage.getItem('harddetails'));
        var softdetails = JSON.parse(localStorage.getItem('softdetails'));
        console.log(harddetails);
        console.log(softdetails);
        
        var data={{ entries1|safe }};
        console.log(data);
        for(let i=1;i<3;i++){
        console.log((softdetails[i-1].quant).length);    
        document.getElementById(i+"Quantity").value=(softdetails[i-1].quant).length>0 ? softdetails[i-1].quant : 0;
        }
        function abcd(e){
            var sr_no=parseInt(e.target.className);
            var Quantity=document.getElementById(sr_no+"Quantity").value;
            var Rate=document.getElementById(sr_no+"Rate").value;
            var SubTotal=document.getElementById(sr_no+"SubTotal").value;
            var Warranty=document.getElementById(sr_no+"Warranty").value;
            var TotalwithWarranty=document.getElementById(sr_no+"TotalwithWarranty").value;
            var COM=document.getElementById(sr_no+"COM").value;
            var TotalAmountwithInsurance=document.getElementById(sr_no+"TotalAmountwithInsurance").value;
            var Year2=document.getElementById(sr_no+"Year2").value;
            var Year3=document.getElementById(sr_no+"Year3").value;
            var Total=document.getElementById(sr_no+"Total").value;
            
        }
        
        $(document).on('click', '.save', function (e) {
            e.preventDefault();
            let sr_no=$(this).val();
            $.ajax({
                type: 'POST',
                url: '{% url "editvpss" %}',
                data: {
                    sr_no:sr_no,
                    Qty:parseInt(document.getElementById(sr_no+"Qty").value),
                    InputPrice:parseInt(document.getElementById(sr_no+"InputPrice").value),
                    DiscountedPrice:parseInt(document.getElementById(sr_no+"DiscountedPrice").value),
                    InputCostInclusiveoffreight:parseInt(document.getElementById(sr_no+"InputCostInclusiveoffreight").value),
                    UnitCost:parseInt(document.getElementById(sr_no+"UnitCost").value),
                    UnitCostInclusiveofRisk:parseInt(document.getElementById(sr_no+"UnitCostInclusiveofRisk").value),
                    UnitCostInclusiveofContigency:parseInt(document.getElementById(sr_no+"UnitCostInclusiveofContigency").value),
                    TotalCost:parseInt(document.getElementById(sr_no+"TotalCost").value),
                    Unit_Price:parseInt(document.getElementById(sr_no+"Unit_Price").value),
                    TotalPrice:parseInt(document.getElementById(sr_no+"TotalPrice").value),
                    UnitPrice:parseInt(document.getElementById(sr_no+"UnitPrice").value),
                    FinalTotalPrice:parseInt(document.getElementById(sr_no+"FinalTotalPrice").value),
                    ListPricewithoutRoundup:parseInt(document.getElementById(sr_no+"ListPricewithoutRoundup").value),
                    ListPricewithRoundedup:parseInt(document.getElementById(sr_no+"ListPricewithRoundedup").value),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                   console.log(json.adg);
                   document.getElementById(json.sr_no).disabled=true;
                   const boxes = document.getElementsByClassName(json.sr_no);
                   for (const box of boxes) {
                   box.readOnly=true;
            }
                },
                error: function (xhr, errmsg, err) {
            
                }
            });
        })
    </script>

</body>

</html>